.empty-cart {
  text-align: center;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#oval, #plus, #diamond, #bubble-rounded {
  animation: plopp 4s ease-out infinite;
}

#oval:nth-child(1), #plus:nth-child(1), #diamond:nth-child(1), #bubble-rounded:nth-child(1) {
  animation-delay: -240ms;
}
#oval:nth-child(2), #plus:nth-child(2), #diamond:nth-child(2), #bubble-rounded:nth-child(2) {
  animation-delay: -480ms;
}
#oval:nth-child(3), #plus:nth-child(3), #diamond:nth-child(3), #bubble-rounded:nth-child(3) {
  animation-delay: -720ms;
}
#oval:nth-child(4), #plus:nth-child(4), #diamond:nth-child(4), #bubble-rounded:nth-child(4) {
  animation-delay: -960ms;
}

#bg-line:nth-child(2) {
  fill-opacity: 0.3;
}

#bg-line:nth-child(3) {
  fill-opacity: 0.4;
}

@keyframes plopp {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}

/* From Uiverse.io by adeladel522 */
.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
